.header {
  margin: 0 auto;
  background-color: #031628;
  height: 50px;

  .title {
    display: inline-block;
    margin-left: 20px;
    line-height: 50px;
    height: 50px;
    vertical-align: middle;
    :nth-child(2) {
      color: gray;
    }
  }

  .titleText {
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    margin-left: 3px;
  }

  a {
    text-decoration: none;
  }

}