.createSection {
  padding: 30px 10%;
  :nth-child(n) {
    margin-top: 10px;
  }

  h1 {
    font-family: sans-serif;
    font-size: 18px;
    margin: 0 auto;
  }

  input{
    width: 70%;
  }

  label {
    display: block;
  }

  span {
    color: red;
  }

  .addProduct {
    display: block;
    width: 80px;
    height: 35px;
    border-radius: 5px;
    background-color: #4594f5;
  }

  a {
    text-decoration: none;
    color: white;
  }
}